fastapi
uvicorn[standard]
supabase
python-dotenv
google-genai
pydantic
python-jose[cryptography]
pytz
PyPDF2
python-docx
passlib[bcrypt]
python-multipart
pymupdf
docx
langchain
langchain-google-genai
chromadb
tiktoken
sentence-transformers
pypdf