fastapi
uvicorn[standard]
supabase
python-dotenv
google-generativeai
pydantic
python-jose[cryptography]
pytz
passlib[bcrypt]
python-multipart
loguru

pymupdf
python-docx

langchain-community
langchain-google-genai
langchain-text-splitters

chromadb
tiktoken
sentence-transformers
pypdf

pandas
scikit-learn
joblib

bcrypt==4.0.1
passlib[bcrypt]==1.7.4